body {
  color: hsl(2, 90%, 45%);
  background-image: url("https://e0.pxfuel.com/wallpapers/254/382/desktop-wallpaper-dark-futuristic-dark-futuristic-background-on-bat-futuristic-abstract.jpg");
 background-size:cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
  }

  li  {
    display: inline;
    width: 60px;
    color: red;
  }


#head {
    text-align: center;
    color: hsl(0, 22%, 96%);
    border: 2px solid hsl(0, 93%, 49%);
    padding: none;
    background-image: url(FSA_Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.row {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(240, 13, 13);
  font-size: medium;
}

.column {
  color: hsl(5, 94%, 50%);
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}

.column2 {
  color: hsl(12, 100%, 97%);
  float: right
  width 33.33%;
  padding: 10px;
  height: 300px;
}


.p1 {
 color:hsl(0, 17%, 91%)
}



footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -px black;
}

footer .media-link {
    height: 32px;
  }
  
  footer a {
    margin-right: 64px;
    text-decoration: none;
  }
  
  footer a:last-child {
    margin-right: 0;
  }
  
 footer {
    background: hsl(0, 0%, 0%);
  }
