body {
    color: hsl(0, 20%, 97%);
    background-image: url("https://e0.pxfuel.com/wallpapers/254/382/desktop-wallpaper-dark-futuristic-dark-futuristic-background-on-bat-futuristic-abstract.jpg");
    background-size:cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

li  {
    display: inline;
    width: 60px;
    color: red;
  }


  #head {
    text-align: center;
    color: hsl(20, 27%, 96%);
    border: 2px solid hsl(0, 94%, 49%);
    padding: none;
    background-image: url(FSA_Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.row {
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-size: medium;
}

.column {
    color: hsl(9, 94%, 48%);
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}

.column2 {
    color: hsl(7, 90%, 49%);
    float: right
    width 33.33%;
    padding: 10px;
    height: 300px;
}

#cons {
    text-align: center;
    color: rgb(234, 8, 8);
    font-size: xx-large;
    background-image: url("https://thumbs.dreamstime.com/z/under-construction-warning-tape-caution-yellow-black-barricade-safety-stripes-seamless-stripe-vector-illustration-142847117.jpg");
}
.p1 {
color:hsl(190, 16%, 93%)
}


footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -px black;
}

footer .media-link {
    height: 32px;
  }
  
  footer a {
    margin-right: 64px;
    text-decoration: none;
  }
  
  footer a:last-child {
    margin-right: 0;
  }
  
 footer {
    background: hsl(0, 0%, 0%);
  }
